body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #666;
}

a { font-weight: bold; text-decoration: none; }
/* a:link    { color: #688; }  /* não visitados */
/* a:visited { color: #355; }  /* já visitados */
/* a:hover   { color: #57a; }  /* mouse over */
/* a:focus   { color: #a77; }  /* click */
/* a:active  { color: #a77; }  /* links ativos - tab */

h1 {
  margin: 0.25em 0;
}

.wrap {
  width: 800px;
  margin: 0 auto;
}

#left {
  float: left;
  width: 200px;
}

#right {
  float: left;
  width: 600px;
}

/*
table {
  border: 3px solid #666;
  padding: 4px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
*/

#list {
  position: relative;
}

#new {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1em 2px 0 0;
}

#new a {
  color: #fff;
  background-color: #999;
  padding: 1px 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

table {
  width: 100%;
}

th {
  color: #fff;
  background-color: #999;
  padding: 3px 6px;
}

td {
  padding: 3px 6px;
}

