body {
  padding-top: 50px;
	margin: 0;
  color: #666;
}

.jumbotron {
  padding: 24px 30px;
  margin-bottom: 10px;
}

.jumbotron h1 {
	margin-top: 10px;
	font-size: 48px;
}

a { font-weight: bold; text-decoration: none; }
/* a:link    { color: #688; }  /* não visitados */
/* a:visited { color: #355; }  /* já visitados */
/* a:hover   { color: #57a; }  /* mouse over */
/* a:focus   { color: #a77; }  /* click */
/* a:active  { color: #a77; }  /* links ativos - tab */

#list {
  position: relative;
}

#new {
  position: absolute;
  right: 0;
  top: 0;
  margin: .5em 0 0 0;
}

table {
  width: 100%;
}

th {
  color: #fff;
  background-color: #999;
  padding: 3px 6px;
}

td {
  padding: 3px 6px;
}

#form {
}

#del-btn {
	text-align: right;
}
