body {
  padding-top: 50px;
	margin: 0;
  color: rgb(34,34,34);
}

.jumbotron {
  padding: 24px 30px;
  margin-bottom: 10px;
}

.jumbotron h1 {
	margin-top: 10px;
	font-size: 48px;
}

a { font-weight: bold; text-decoration: none; }
/* a:link    { color: #688; }  /* não visitados */
/* a:visited { color: #355; }  /* já visitados */
/* a:hover   { color: #57a; }  /* mouse over */
/* a:focus   { color: #a77; }  /* click */
/* a:active  { color: #a77; }  /* links ativos - tab */

#list-top {
  position: relative;
}

#new {
  position: absolute;
  right: 0;
  bottom: 0;
}

#form-btn {
  position: relative;
}

#del-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Override bootstrap css rules */

table {
	border-bottom: 4px solid rgb(34,34,34);
}

th {
  color: #fff;
  background-color: rgb(34,34,34);
  /* padding: 3px 6px; */
  border-bottom: none !important;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  color: #fff;
  background-color: rgb(34,34,34);
  border-color: rgb(34,34,34);
  background-image: none;
}

.form-horizontal .control-label {
  /* text-align: left; */
  color: #fff;
  background-color: rgb(34,34,34);
  height: 34px;
  border-radius: 4px;
  border: 1px solid rgb(34,34,34);
  /* width: 14%; */
  /* margin-left: 15px; */
}

.form-horizontal .form-group {
  margin-left: 0;	
}