doctype 5
html
  include ../includes/head

  body
    #top
      .wrap
        a(href="#{base}")
          #title
            h1 Admin Site

    #content
      .wrap
        #left
          block left
            #menu
              block menu
                ul
                  - each item in menu
                    li
                      a(href="#{base}/#{item}")= capitalizeFirstLetter(item)

        #right
          block content


