head
  title= title || 'Admin Site'
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
  meta(name="keywords", content=pkg.keywords.join(","))
  meta(name="description", content=pkg.description)

  link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
  
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  
  // Latest compiled and minified CSS
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")

  // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  // if lt IE 9
    script(src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
    script(src="http://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")

  // Optional theme
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css")

  link(rel='stylesheet', href='/admin/css/admin.css')

